.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }
}

.product-terms {
  // .product-terms__content-wrapper
  &__content-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .product-terms__content
  &__content {

    .content__icon {
      width: 60px;
      height: 60px;
      margin-right: 20px;

      background-color: #F1F3F4;
      border-radius: 50%;

      .icon {

      }
    }

    .content__text {

    }
  }
}

.product-ingredients {
  padding: 40px 0;
  margin-bottom: 24px;

  // .product-ingredients__content-wrapper
  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
  }

  // .product-ingredients__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    row-gap: 30px;
    width: calc(100% / 6);
    padding: 0 10px;

    @media screen and (max-width: 767px) {
      width: 50%;
      row-gap: 20px;
    }
  }

  // .product-ingredients__icon
  &__icon {
    width: 60px;
    height: 60px;

    @media screen and (max-width: 767px) {
      width: 40px;
      height: 40px;
    }

    svg {
      max-height: 100%;
    }
  }

  // .product-ingredients__text
  &__text {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
    color: #383838;
  }
}


.product-info {

  // .product-info__content-card
  &__content-card {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    @media screen and (max-width: 767px) {
      padding: 20px 0 40px;
    }

    // .product-info__content-card--revers
    &--revers {
      flex-direction: row-reverse;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }

    .product-info__title {
      margin-bottom: 30px;

      font-family: "Gilroy-Bold", sans-serif;
      font-weight: 700;
      font-size: 44px;
      line-height: 1.25;
      color: #383838;


      @media screen and (max-width: 1200px) {
        font-size: 36px;
      }
      @media screen and (max-width: 767px) {
        font-size: 32px;
      }
    }
  }

  // .product-info__img
  &__img {
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
    align-self: stretch;

    img {
      height: 100%;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }

    .product-info__title {
      display: none;

      @media screen and (max-width: 992px) {
        display: block;
      }
    }
  }

  // .product-info__content-wrapper
  &__content-wrapper {
    width: calc(50% - 5px);
    padding: 44px 70px;

    @media screen and (max-width: 1200px) {
      padding: 20px 15px;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding: 0;
    }

    .product-info__title {
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }

  // .product-info__content
  &__content {
    margin-bottom: 30px;

    @media screen and (max-width: 1200px) {
      margin-bottom: 15px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    p strong {
      margin-bottom: 20px;

      font-family: "Gilroy-Bold", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      color: #383838;

      @media screen and (max-width: 1200px) {
        margin-bottom: 15px;
      }

      @media screen and (max-width: 992px) {
        font-size: 24px;
      }
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }

    p:not(strong) {
      font-family: "Gilroy-Regular", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      color: #383838;


      @media screen and (max-width: 992px) {
        font-size: 20px;
      }

      @media screen and (max-width: 767px) {
        font-size: 14px;
      }

      &:not(:last-of-type) {
        margin-bottom: 30px;

        @media screen and (max-width: 1200px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}


